<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
 	<context-param>
  	<param-name>upload</param-name>
  	<param-value>uploads/</param-value>
  </context-param>
  
   <context-param>
  	<param-name>dbOutPath</param-name>
  	<param-value>output/database/</param-value>
  </context-param>
  
   <context-param>
  	<param-name>PDFOutDir</param-name>
  	<param-value>output/pdf/</param-value>
  </context-param>
 
   <context-param>
  	<param-name>dbInPath</param-name>
  	<param-value>input/InfoDipendenti.sqlite</param-value>
  </context-param>  
	
  <servlet>
  	<servlet-name>HomeServlet</servlet-name>
  	<display-name>HomeServlet</display-name>
  	<description></description>
  	<servlet-class>code.servlets.HomeServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>GotPDF</servlet-name>
  	<display-name>GotPDF</display-name>
  	<description></description>
  	<servlet-class>code.servlets.GotPDF</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SplitPDF</servlet-name>
  	<display-name>SplitPDF</display-name>
  	<description></description>
  	<servlet-class>code.servlets.SplitPDF</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditDb</servlet-name>
  	<display-name>EditDb</display-name>
  	<description></description>
  	<servlet-class>code.servlets.EditDb</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddUser</servlet-name>
  	<display-name>AddUser</display-name>
  	<description></description>
  	<servlet-class>code.servlets.AddUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteUser</servlet-name>
  	<display-name>DeleteUser</display-name>
  	<description></description>
  	<servlet-class>code.servlets.DeleteUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditUser</servlet-name>
  	<display-name>EditUser</display-name>
  	<description></description>
  	<servlet-class>code.servlets.EditUser</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>HomeServlet</servlet-name>
  	<url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GotPDF</servlet-name>
  	<url-pattern>/GotPDF</url-pattern>
  </servlet-mapping>
	<servlet-mapping>
		<servlet-name>SplitPDF</servlet-name>
		<url-pattern>/SplitPDF</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditDb</servlet-name>
		<url-pattern>/EditDb</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddUser</servlet-name>
		<url-pattern>/AddUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteUser</servlet-name>
		<url-pattern>/DeleteUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditUser</servlet-name>
		<url-pattern>/EditUser</url-pattern>
	</servlet-mapping>
  
 
  <welcome-file-list>
        <welcome-file>HomeServlet</welcome-file>
  </welcome-file-list>

</web-app>